.carouselImg {
  max-height: 500px !important; }

.coverImg {
  height: 600px; }

.coverImgContainer {
  width: 300px;
  height: 400px;
  overflow: hidden; }

.artcardcontainer {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

.coverItem {
  float: left;
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  margin-right: 10px; }

.headerName {
  font-family: "lobster";
  font-size: 100px;
  text-align: center;
  /* margin-left: 5px ;  */ }
