@import "./ArtCard/ArtCard.scss";

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Align items vertically */
}
