@import "./ProjectDetails/ProjectDetails.scss";

.coverImg {
  width: 500px;
}

.coverImgContainer {
  width: 400px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;
}
.coverImgContainer:hover {
  opacity: 0.75;
}

.artcardcontainer {
  display: block;
  float: left;
  padding-bottom: 25px;
}
